.element__like {
	background-image: url(../../../images/Vector.svg);
	background-size: cover;
	height: 19px;
	width: 22px;
	margin-left: 37px;
	border: 0;
	background-color: #fff;
	cursor: pointer;
}

.element__like:hover {
	opacity: 0.5;

}