.page {
  width: 100%;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #000000;
  color: #FFF;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .page {
    width: 100%;
  }
}