.popup__name{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-left: 36px;

    margin-right: 36px;
    height: 33px;
    box-sizing: border-box;
    background-color: transparent;

    border-width: 0;

    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.popup__name:focus{
    outline-color: #2fa3fc;
  }