.profile__name {
	margin: 0;
	font-weight: 500;
	font-size: 42px;
	line-height: 48px;
	margin-bottom: -6px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
	.profile__name {
		font-size: 27px;
		line-height: 33px;
		text-align: center;
	}
}