.profile__avatar {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	object-fit: cover;
	position: relative;

	/* background-image: url(../../../images/avatar.jpeg); */
	background-position: center;
	background-size: cover;
}

.profile__avatar::before {
	background-color: #000;
	opacity: 0;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url(../../../images/pen.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 26px 26px;
	transition: opacity 0.5s linear;
}

.profile__avatar:hover::before {
	opacity: 0.8;
	cursor: pointer;
}
