.profile__info {
	display: grid;
	grid-template-columns: 312px auto;
	grid-template-rows: repeat(2, auto);
	gap: 16px 0;
	padding-left: 30px;
	padding-right: 244px;
}


@media screen and (min-width: 320px) and (max-width: 1279px) {
	.profile__info {
        grid-template-columns: 204px auto;
        gap: 14px 0;
        padding-left: 21px;
        padding-top: 27px;
        padding-bottom: 30px;
        padding-right: 0;
	}
}