.element__like {
	background-image: url(../../../images/Vector.svg);
	background-size: cover;
	height: 19px;
	width: 22px;
	margin-left: 37px;
	border: 0;
	background-color: #fff;
	cursor: pointer;
}
.element__number-likes {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	text-align: right;
	margin: 0;
	padding-right: 7px;
	color: #000;
}
.element__like:hover {
	opacity: 0.5;
}
